body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.total {
  display: flex;
  height: 300px;
}

.first {
  flex: 1;
  background: #dfe4ea;
  position: relative;
  padding: 10px;
  text-align: center;
}

.first img {
  width: 100%;
  height: 100%;
}

.second {
  flex: 1;
  background: #74c0fc;
  padding: 20px;
  text-align: center;
}

.third {
  background-color: #22b8cf;
  text-align: center;
  padding: 10px;
}

.point {
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
.point:hover {
  transform: scale(1.3);
}
